* {
	margin: 0;
	padding: 0;
}

body,html{
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
}

.card-bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #fafafa;
}

.card{
    width: 30rem;
    height: 30rem;
}
.card-subtitle{
    font-size: 20px;
}

.link-primary{
    float: right;
    text-decoration: none;
}
.link-primary:hover{
    text-decoration: underline;
}